NEXT_PUBLIC_RPC_URL=http://127.0.0.1:9650/ext/bc/BLOCKCHAIN_ID/rpc
NEXT_PUBLIC_CHAIN_ID=43199
NEXT_PUBLIC_ENTERPRISE_REGISTRY_ADDRESS=0x_deployed_address
NEXT_PUBLIC_TRACEABILITY_REGISTRY_ADDRESS=0x_deployed_address
NEXT_PUBLIC_PLASMA_CONNECTOR_ADDRESS=0x_deployed_address
NEXT_PUBLIC_TRACE_CONNECTOR_ADDRESS=0x_deployed_address
NEXT_PUBLIC_ZK_VERIFIER_ADDRESS=0x_deployed_address
